# Node
node_modules/

# Build output
dist/
build/

# Env files
.env
.env.*.local
.env.local
.envrc

# System
.DS_Store

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test/coverage
coverage/

# Next.js
.next/

# Vercel
.vercel/

# Turbo
.turbo/

# Parcel
.parcel-cache/

# SvelteKit
.svelte-kit/

# Supabase
.supabase/

# SWC
.swc/

# ESLint
.eslintcache

# PnP
.pnp.*

# Cache
.cache/ 